


/*==========================
 h2 => Selector 
 color => property
 red => Value
 color: rgb(234, 98, 19); => Declaration 
==========================*/



h2 { 
    color: rgb(234, 98, 19);/*=> Declaration*/
    font-size: 70px;    /*=> Declaration*/
}

body {
    background: rgb(0, 255, 13);
}
